body {
    font-family: "Jua", sans-serif;
}


/* 헤더 스타일 */
header {
    background-image: url(images/main-back.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 50px;
    padding-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.logo {
    color: #ffc107;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 15px 15px;
    
}

.menu-item {
    position: relative;
    margin-right: 20px;
}

.menu-item a {
    color: #ffc107;
    text-decoration: none;
    padding: 10px;
    display: block;
}




/* 서브 메뉴 숨기기 */
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    display: none;
    min-width: 180px;
}

.submenu li a {
    padding: 10px;
    color: #f6f6f6;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #555;
}

/* 메뉴 아이템에 마우스를 올렸을 때 서브 메뉴 보이기 */
.menu-item:hover .submenu {
    display: block;
}

/* 메뉴 아이템에 마우스를 올렸을 때 배경색 변경 */
.menu-item:hover > a {
    background-color: #555;
}




/* 푸터 스타일 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}




